body{
    background-image: url("https://png.pngtree.com/background/20210717/original/pngtree-minimalist-financial-statement-project-proposal-picture-image_1440070.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    font-size: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
div:hover{
    text-shadow: 1px 3px 25px rgb(242, 225, 36);
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgb(16, 162, 123);
}
